{
  "bootstrap_expect": {{ consul.global.bootstrap_expect }},
  "ui": true,
  "server": true,
  "client_addr": "{{ consul.global.client_addr }}",
  "bind_addr": "{{ hostvars[inventory_hostname][consul.global.bind_adapter]['ipv4']['address'] }}",
  "datacenter": "{{ consul.global.datacenter }}",
  "data_dir": "{{ consul.global.data_dir }}",
  "log_level": "{{ consul.global.log_level }}",
  "encrypt": "{{ consul.global.encryption }}",
  "enable_syslog": true,
  "retry_join": [
    {% for address in consul.agents %}
    "{{ address }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
